.menu {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 100px auto;
}

.hex {  
  width: 200px;
  height: 200px;
  background: teal;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  font-family: 'Lora', sans-serif;
}

.span{
  font-size: 36px;  
}

.center {
  z-index: 10;
  background: white;
}

.item {
  background: rgb(0, 0, 0);
}

.pos1 { transform: translate(-50%, -50%) translate(0, -260px); }
.pos2 { transform: translate(-50%, -50%) translate(225px, -130px); }
.pos3 { transform: translate(-50%, -50%) translate(225px, 130px); }
.pos4 { transform: translate(-50%, -50%) translate(0, 260px); }
.pos5 { transform: translate(-50%, -50%) translate(-225px, 130px); }
.pos6 { transform: translate(-50%, -50%) translate(-225px, -130px); }