.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 600px;
  transform: translate(0%, 50%);
}

.hex {
  width: 200px;
  height: 200px;
  background: teal;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  position: absolute;
  font-family: 'Lora', sans-serif;
}


.center {
  width: 200px;
  height: 200px;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  position: absolute;
  font-family: 'Lora', sans-serif;
  z-index: 10;
  background: white;
}

.item {  
  background: black;
  transform: none;
  color: white;
  
}

/*-------------------modal-------------------*/

.modalBackdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modalContent{
  background: white;
  padding: 30px;
  height: 90%;
  width: 70%;
  border-radius: 12px;
  text-align: center;
}