.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 600px;
  height: 600px;
  /* transform: translate(-50%, -50%); */
}

.hex {
  width: 200px;
  height: 200px;
  background: teal;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  position: absolute;
  font-family: 'Lora', sans-serif;
}


.center {
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 10;
  background: white;
}

.item {
  top: 50%;
  left: 50%;
  background: black;
  transform: none;
  color: white;
  
}

