.container{
  display: flex;
  gap: 200px;
  padding: 40px;
  z-index: 1;
  background-color:  rgba(5, 114, 47, 1);
}

.paragraphContainer{
  position: relative;
  width: 450px;
  height: 1000px;
  z-index: 1;
  background: radial-gradient(rgb(0, 0, 0), rgba(97, 97, 97, 1), rgba(255, 255, 255, 1));
  border-radius: 20px;
  padding: 250px 20px;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  
}

.paragraphContainer::before{
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 17px;
  background: rgba(87, 138, 102, 0.3);
  z-index: -1;
}